@import "./base.css";

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(199, 100%, 37%, 1);
  transition: 0.4s;
}

a.black {
  color: black;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.bottom-line {
  border-bottom: 0.5px solid #b8b8c7;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(199, 100%, 37%, 0.2);
  }
  a.no-bg {
    background: none;
  }
}
