@import "./base.css";

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 0.4s;
}

a.black {
  color: black;
}

ul,
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.bottom-line {
  border-bottom: 0.5px solid #b8b8c7;
}

.view-title {
  text-align: center;
  margin-bottom: 32px;
}

.view-title:after {
  content: "";
  display: block;
  width: 2rem;
  height: 2px;
  background: black;
  margin: 1rem auto 0;
}

.icon {
  width: 24px;
  height: 24px;
}

.category:before {
  vertical-align: middle;
  display: inline-block;
  content: "";
  width: 2.5rem;
  margin-right: 0.5rem;
  height: 1px;
  background: #eceeef;
  background: #a0a0a0;
}

@media (hover: hover) {
  a:hover {
    color: #a0a0a0;
  }
  a.no-bg {
    background: none;
  }
}
